<template lang="pug">
  .add-note-modal(
    ref="addNoteModal"
  )
    .add-note-modal-inner
      .add-note-modal-container
        .add-note-icon-wrap
          addNoteSvg.add-note-icon
        h5.add-note-modal-title Add new note
        form.add-note-modal-form(
          ref="handleForm"
          @submit.prevent="saveNote()"
        )
          input.add-todo-title-input(
            type="text" 
            v-model="title"
            ref="handleMainInput"
            placeholder="Name a note"
            required
          )
          div.add-todo-wrap(
            v-for="(field, index) in fields"
          )
            span.add-todo-task-number {{ index + 1 }}.
            input.add-todo-task-input(
              type="text"              
              ref="handleInput"
              placeholder="Describe the task"
              required
            )          
          div.add-todo-actions-wrap
            div.add-todo-actions
              button.add-todo-action-btn.btn-blue.flex-grow(
                type="button" 
                @click="addField"
                :disabled="fields === 5"
              ) Add field
              button.add-todo-action-btn.btn-yellow.flex-grow(
                type="reset" 
                @click="resetForm"
                :disabled="fields === 1 && !title"
              ) Reset form
            button.add-todo-action-btn.btn-green.flex-grow(
              type="submit"
              :disabled="!title"
            ) Create note
        button.add-todo-button-close.btn-red(
          @click="closeModal"
        ) 
          closeSvg.add-todo-button-close-svg

</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import addNoteSvg from "../../assets/images/addNoteSvg.vue";
  import closeSvg from "../../assets/images/closeSvg.vue";

  export default {
    name: "AddNoteModal",
    components: {
      addNoteSvg,
      closeSvg
    },
    data(){
      return {
        fields: 1,
        title: '',
        tasks: []
      }
    },
    computed: {
      ...mapGetters([
        'notes'
      ])
    },
    methods: {
      ...mapActions([
        'addNote'
      ]),
      resetForm(){
        this.fields = 1;
        this.title = '';
      },
      saveNote(){
        this.title = this.$refs.handleMainInput.value;        
        this.$refs.handleInput.forEach((el) => {
          if(el.value){
            const tempObj = {
              done: false,
              description: el.value
            };
            this.tasks.push(tempObj);
          }
        });
        const obj = {
          id: this.notes.length,
          title: this.title,
          tasks: this.tasks
        };
        this.addNote(obj); //this.$store.dispatch('addNote', obj);
        this.closeModal();
      },
      addField(){
        if(this.fields < 5) this.fields += 1;
      },
      closeModal(){
        this.$emit('closeAddNoteModal');
      }
    },
  }
</script>

<style lang="scss" scoped>
  .add {
    &-note {
      &-modal {
        z-index: 12;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,0.8);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-form {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
        &-inner {
          position: relative;
          padding: 60px;
          min-width: 500px;
          background-color: #fff;
          border: 1px solid #aaaaaa;
          border-radius: 0.5em;
        }
        &-container {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
        }
        &-title {
          text-transform: uppercase;
          text-align: center;
          font-size: 24px;
          font-weight: 300;
          text-align: center;
          margin: 20px 0;
        }
      }
      &-icon {
        height: 100%;
        width: 100%;
        fill: #6699ff;
        &-wrap {
          height: 80px;
          width: 80px;
          border: 1px solid #f2f2f2;
        }
      }
    }
    &-todo {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &-actions {
        margin-top: 20px;
        margin-bottom: 5px;
        display: flex;
        align-items: space-between;
        &-wrap {
          display: flex;
          flex-flow: column;
          width: 100%;
        }
      }
      &-action-btn {
        height: 40px;
        min-width: 100px;
        margin-right: -1px;
        font-size: 1em;
        border: 1px solid #aaaaaa;
        border-radius: 10em;
        &:focus {
          outline: 0;
        }
        & + .add-todo-action-btn {
          margin-left: 10px;
        }
      }
      &-wrap {
        margin-top: 15px;
        & + .add-todo-wrap {
          margin-top: 5px;
        }
      }
      &-task {
        &-number {
          color: #aaaaaa;
          margin-right: 5px;
        }
        &-input {
          font-size: 1em;
          width: 85%;
          height: 30px;
          padding: 5px 20px;
          border: 1px solid #aaaaaa;
          border-radius: 10em;
          &:focus {
            outline: none;
          }
          &::placeholder {            
            color: #aaaaaa;
          }
        }
      }
      &-title-input {
        font-size: 1em;
        width: 90%;
        height: 30px;
        padding: 5px 20px;
        border: 1px solid #aaaaaa;
        border-radius: 10em;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #aaaaaa;
        }
      }
      &-button-close {
        padding: 0;
        width: 35px;
        height: 35px; 
        position: absolute;
        border-radius: 50%;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-svg {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

</style>