<template lang="pug">
  .delete-note-modal(
    ref="deleteNoteModal"
  )
    .delete-note-modal-inner
      .delete-note-modal-container
        div.delete-note-icon-wrap
          warningSvg.delete-note-icon-warning
        div
          h1.delete-note-modal-title Confirm deletion
          div.delete-note-actions
            button.delete-note-action-btn.btn-green(@click="approveDelete") Submit
            button.delete-note-action-btn.btn-blue(@click="closeModal") Return

</template>

<script>
  import warningSvg from '../../assets/images/warningSvg.vue'; 
  import { mapActions } from "vuex";

  export default {
    name: "deleteAllNotesModal",
    components: {
      warningSvg
    },
    props: ['index'],
    methods: {
      ...mapActions([
        'deleteNote'
      ]),
      approveDelete(){
        this.deleteNote(this.index);
        this.$emit('closeDeleteNoteModal');
      },
      closeModal(){
        this.$emit('closeDeleteNoteModal');
      }
    }
  }
</script>

<style lang="scss" scoped>
  .delete {
    &-note {
      &-icon {
        &-wrap {
          border: 1px solid #f2f2f2;
        }
        &-warning {
          height: 80px;
          width: 80px;
          fill: #ffcc00;        
        }
      }
      &-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-action-btn {
        font-size: 1em;
        margin-right: -1px;
        height: 40px;
        min-width: 150px;
        border: 1px solid #aaaaaa;
        border-radius: 2em;
        &:focus {
          outline: 0;
        }
        & + .delete-note-action-btn {
          margin-left: 10px;
        }
      }
      &-modal {
        z-index: 12;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-inner {
          padding: 50px;
          min-width: 400px;
          background-color: #fff;
          border-radius: 0.5em;;
        }
        &-container {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        }
        &-title {
          margin: 20px 0;
          text-transform: uppercase;
          text-align: center;
          font-size: 24px;
          font-weight: 300;
        }
      }
    }
  }
</style>