<template lang="pug">
  .home
    h1.home-article Notes list
    .home-inner
      NoteList(v-if="notes" :notes="notes" @openRemoveModal="openRemoveModal")
      .actions-wrap
        button.action-btn.btn-blue(
          @click="addNote"
        ) Add new note
        button.action-btn.btn-red(
          :disabled="!notes.length"
          @click="deleteNotes"
        ) Delete all notes

    AddNoteModal(v-if="addModalState" ref="addNoteModal" @closeAddNoteModal="addModalState = false")
    DeleteNoteModal(v-if="deleteModalState" :index="index" ref="deleteNoteModal" @closeDeleteNoteModal="deleteModalState = false")
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import NoteList from '@/components/NoteList.vue';
import AddNoteModal from '@/components/modals/addNoteModal.vue';
import DeleteNoteModal from '@/components/modals/deleteNoteModal.vue';

export default {
  name: 'Home',
  components: {
    NoteList, 
    AddNoteModal, 
    DeleteNoteModal
  },
  data(){
    return {
      index: null,
      addModalState: false,
      deleteModalState: false,
    }
  },
  computed: {
    ...mapGetters([
      'notes'
    ]),
  },
  methods: {
    addNote(){
      this.addModalState = true;
    },
    openRemoveModal(index){
      this.index = index;
      this.deleteModalState = true;
    },
    deleteNotes(){
      this.deleteAllNotes();
    },
    ...mapActions([
      'refreshPage', 'deleteAllNotes'
    ]),
  },
  created(){
    this.refreshPage();
  }
}
</script>

<style lang="scss" scoped>
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-article {
      margin-top: 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 24px;
      font-weight: 300;
    } 
    &-inner {
      width: 600px;
      padding: 40px;
      background-color: #fff;
      border: 1px solid #f2f2f2;
      border-radius: 0.5em;
    }
  }
</style>
