<template lang="pug">
  .overwrite
    h1.overwrite-article Edit note
    .overwrite-note
      form.overwrite-note-form(
        ref="handleForm"
        @submit.prevent="saveEdit"
      )
        div.overwrite-note-title
          template(v-if="editTitle")
            div.overwrite-edit-state
              div.overwrite-hint
                p.overwrite-hint-text.text-muted Rename this note:
              input.overwrite-title-input(type="text" ref="handleTitleInput" :placeholder="editNote.title")
              div.overwrite-edit-actions
                button.overwrite-action-btn.btn-green(@click="submitTitleEdit") Save
                button.overwrite-action-btn.btn-blue(@click="closeTitleEdit") Cancel

          template(v-else)
            div.overwrite-display-state
              div.overwrite-title-inner
                span.text-muted Name:              
                h5.overwrite-title {{ editNote.title }}
              button.overwrite-action-side-btn.btn-yellow(@click="openTitleEdit") Change

        div.overwrite-note-task
          div.overwrite-task-input-wrap(
            v-for="(task, i) in editNote.tasks"
          )
            template(v-if="editFields[i]")
              div.overwrite-note-edit-state
                div.overwrite-hint
                  p.overwrite-hint-text.text-muted Edit field:
                div.overwrite-task-input-inner
                  span.overwrite-task-number {{ i + 1 }}.                  
                  input.overwrite-task-input(type="text" ref="handleTaskInput" :placeholder="task.description")
                div.overwrite-edit-actions
                  button.overwrite-action-btn.btn-green(@click.prevent="submitTaskEdit(i, task)") Save
                  button.overwrite-action-btn.btn-blue(@click="closeTaskEdit(i)") Cancel
            template(v-else)
              div.overwrite-note-display-state                
                div.overwrite-note-display-state-inner
                  span.overwrite-task-number {{ i + 1 }}.
                  input.overwrite-task-checkbox(type="checkbox" v-model="task.done" :checked="task.done")                    
                  h6.overwrite-task-text(:class="{'text-crossed' : task.done}") {{ task.description }}
                div.overwrite-task-actions
                  button.overwrite-action-side-btn.btn-yellow(
                    @click.prevent="openTaskEdit(i)"
                  ) Change
                  button.overwrite-action-side-btn.btn-yellow(
                    :disabled="!task.oldDescription || task.oldDescription === task.description"
                    @click.prevent="StepBack(i)"
                  ) Back
                  button.overwrite-action-side-btn.btn-yellow(
                    :disabled="!task.newDescription || task.newDescription === task.description"
                    @click.prevent="StepForward(i)"
                  ) Forward
        div.overwrite-actions
          button.action-btn.btn-green(type="submit") Submit
          button.action-btn.btn-blue(type="reset" @click="goBack") Return      
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    name: 'Overwrite',
    data(){
      return {
        index: null,
        editTitle: false,
        editFields: [
          false, false, false, false, false
        ],
        editNote: {}
      }
    },
    computed: {
      ...mapGetters([
        'notes'
      ])
    },
    methods: {
      ...mapActions([
        'changeNote', 'refreshPage'
      ]),
      StepBack(val){
        let tempObj = this.editNote.tasks[val];
        tempObj.description = tempObj.oldDescription;
        this.editNote.tasks.splice(val, 1, tempObj);
      },
      StepForward(val){
        let tempObj = this.editNote.tasks[val];
        tempObj.description = tempObj.newDescription;
        this.editNote.tasks.splice(val, 1, tempObj);
      },
      goBack(){
        this.$router.push({ path: '/' });
      },
      submitTitleEdit(){
        if(this.$refs.handleTitleInput.value === '') {
          this.closeTitleEdit();
          return;
        }
        this.editNote.title = this.$refs.handleTitleInput.value;
        this.$refs.handleTitleInput.value = '';
        this.closeTitleEdit();
      },
      submitTaskEdit(val, task){
        if(this.$refs.handleTaskInput[0].value === '') {
          this.closeTaskEdit(val);
          return;
        }
        const tempObj = {
          done: task.done,
          description: this.$refs.handleTaskInput[0].value,
          oldDescription: task.description,
          newDescription: this.$refs.handleTaskInput[0].value
        };
        this.editNote.tasks.splice(val, 1, tempObj);
        this.$refs.handleTaskInput[0].value = '';
        this.closeTaskEdit(val);
      },
      saveEdit(){
        this.editNote.id = this.index;        
        this.changeNote(this.editNote); //this.$store.dispatch('changeNote', this.editNote);
        this.$router.push({ path: '/' });
      },
      openTitleEdit(){
        this.editTitle = true;
      },
      closeTitleEdit(){
        this.editTitle = false;
      },
      openTaskEdit(val){
        this.editFields.splice(val, 1, true);
      },
      closeTaskEdit(val){
        this.editFields.splice(val, 1, false);
      },
    },
    created(){
      this.refreshPage();
      this.index = this.$route.query.index;
      if(this.notes[this.index]) {
        this.editNote = this.notes[this.index];
      }
    }
  }
</script>

<style lang="scss" scoped>
  .overwrite {
    &-hint {
      margin: 0;
      text-align: left;
      &-text {
        font-size: 1.1em;
        text-align: center;
        margin: 0;
      }
    }
    &-edit {
      &-actions {
        margin-top: -1px;
        display: flex;
        justify-content: center;
      }
      &-state {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }
    }
    &-display {
      &-state {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px;
      }
    }
    &-actions {
      width: 100%;
      margin-top: 20px;
    }
    &-note {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &-display-state {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &-inner {
          min-height: 46px;
          width: 74%;
          display: flex;          
          margin-right: -1px;
          border: 1px solid #aaaaaa;
          padding: 20px 30px;
        }
      }
      &-title {
        width: 100%;
      }
      &-task {
        width: 100%;
      }
      &-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-width: 600px;
        padding: 40px;
        background-color: #fff;
        border: 1px solid #f2f2f2;
      }
    }
    &-article {
      margin-top: 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 24px;
      font-weight: 300;
    }    
    &-title {
      font-size: 24px;
      font-weight: 600;
      text-align: left;
      text-transform: uppercase;
      margin: 0;
      &-input {
        font-size: 1em;
        width: 550px;
        height: 30px;
        padding: 5px 20px;
        border: 1px solid #aaaaaa;
        border-radius: 2em;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #aaaaaa;
        }
      }
      &-inner {
        width: 74%;
        border: 1px solid #aaaaaa;        
        margin-right: -1px;
        padding: 10px 30px;
      }
    }
    &-task {
      &-actions {
        display: flex;
        flex-direction: column;
      }
      &-checkbox {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin: 0;
        margin-right: 5px;
      }
      &-text {
        max-width: 500px;
        margin: 0;
        text-align: justify;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
      &-number {
        color: #aaaaaa;
        margin-right: 5px;
      }
      &-input {
        font-size: 1em;
        width: 530px;
        height: 30px;
        padding: 5px 20px;
        border: 1px solid #aaaaaa;
        border-radius: 2em;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #aaaaaa;
        }
        &-wrap {
          & + .overwrite-task-input-wrap {
            margin-top: 10px;
          }
        }
      }
    }
    &-action {
      &-btn {
        font-size: 1em;
        padding: 5px 10px;
        height: 30px;
        width: 100px;
        border: 1px solid #aaaaaa;
        border-radius: 2em;
      }
      &-side-btn {
        font-size: 1em;
        padding: 5px 10px;
        height: 30px;
        width: 100px;
        border: 1px solid #aaaaaa;
        border-radius: 0 2em 2em 0;
        & + .overwrite-action-side-btn {
          margin-top: -1px;
        }
      }

    }
  }
</style>
