<template lang="pug">
  section.note-list    
    div.note-list-wrap(v-if="notes.length")
      div.note-list-item(v-for="(note, index) in notes")
        div.note-list-item-wrap
          h5.note-list-item-title {{ note.title }}
          ul.note-list-todo(v-if="note.tasks.length")
            li.note-list-todo-item(v-for="(task, i) in note.tasks")
              span.note-list-todo-item-number {{ i + 1 }}.
              input.note-list-todo-item-checkbox(type="checkbox" :checked="task.done" disabled)
              span.note-list-todo-item-description(:class="{'text-crossed' : task.done}") {{ task.description }}
        div.note-list-item-actions
          button.note-list-action-btn.btn-yellow(@click="changeNote(index)") Change
          button.note-list-action-btn.btn-red(@click="openRemoveModal(index)") Delete
    div.note-list-wrap(v-else)
      div.note-list-warn
        h5.note-list-item-text List is empty
</template>

<script>
export default {
  name: 'NoteList',
  props: {
    notes: {
      required: true,
      type: Array
    }
  },
  methods: {
    changeNote(index){
      this.$router.push({ path: '/overwrite', query: { index: index } });
    },
    openRemoveModal(index){
      this.$emit('openRemoveModal', index);
    }
  }
}
</script>

<style lang="scss" scoped>
  .note-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-warn {
      padding: 0 50px 20px 50px;
    }
    &-action-btn {
      margin-right: -1px;
      font-size: 1em;
      height: 30px;
      width: 100px;
      border: 1px solid #aaaaaa;
      border-radius: 0 2em 2em 0;
      & + .note-list-action-btn {
        margin-top: 2px;
      }
    }
    &-wrap {
      width: 100%;
    }
    &-todo {
      padding: 0;
      &-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        list-style-type: none;
        text-align: left;
        & + .note-list-todo-item {
          margin-top: 5px;
        }
        &-number {
          color: #aaaaaa;
          margin-right: 5px;
        }
        &-checkbox {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin: 0;
          margin-right: 5px;
        }
        &-description {
          white-space: nowrap; /* Запрещаем перенос строк */
          overflow: hidden; /* Обрезаем все, что не помещается в область */
          text-overflow: ellipsis;
          text-align: justify;
          width: 90%;
        }
      }
    }
    &-title {
      margin-top: 0;
      text-transform: uppercase;
      font-weight: 300;
    }
    &-item {      
      display: flex;
      margin-bottom: 10px;
      &-actions {
        display: flex;
        flex-direction: column;
      }
      &-wrap {
        margin-right: -1px;        
        border: 1px solid #aaaaaa;
        padding: 15px 30px;
        width: 440px;
      }
      &-title {
        color: black;
        font-size: 24px;
        font-weight: 600;
        text-align: left;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      &-text {
        color: darkgray;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
</style>
