@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  // background-image: url(./assets/logo.png);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: 700px 700px;
}
button {
  cursor: pointer;
  &:disabled {
    cursor: default;
    &:hover {
      background-color: transparent;   
    }
  }
  &:focus {
    outline: none;
  }
}
#app {
  height: 100vh;
  color: #2c3e50;

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(assets/images/background-section.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.vue-logo {
  transform: rotate(180deg);
}
// text
.text-muted {
  color: #aaaaaa;
}
.text-crossed {
  color: #aaaaaa;
  text-decoration: line-through;
}
// buttons
.action {
  &-btn {
    font-size: 1em;
    font-weight: 500;
    border-radius: 2em;
    height: 50px;
    width: 49%;
    min-width: 250px;
    padding: 15px 0;
    border: 1px solid #aaaaaa;
    & + .action-btn {
      margin-left: 10px;
    }      
  }
  &-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.btn-red {
  border: 1px solid #aaaaaa;   
  &:hover {    
    background-color: #ffcccc;    
  }
}
.btn-yellow {  
  border: 1px solid #aaaaaa;   
  &:hover {
    background-color: #ffffcc;
  }
}
.btn-blue {  
  border: 1px solid #aaaaaa;   
  &:hover {
    background-color: #b3d1ff;
  }
}
.btn-green {
  border: 1px solid #aaaaaa;   
  &:hover {
    background-color: #ccffcc;   
  }
}
// flex
.flex-grow {
  flex-grow: 1;
}